//color
$color-black: black;
$color-white: white;
$color-primary-light: #fcfbf9;
$color-primary-dark: #e0d3c3;
$color-secondary-light: #f0f7c9;
$color-secondary-dark: #afbb62;
$color-thirdy-light: #efcca7;
$color-thirdy-dark: #ff8300;
$color-fourty-light: #bf9d83;
$color-fourty-dark: #472705;

//grid
$gutter-width: 6rem;

//margin
// $margin-buttom-medium: 2rem;
