.saramic-nav{
    &__icon{
        height: 3.25rem;
        width: 3.25rem;   
        margin: 1.5rem;
        fill:cadetblue;
    }
    
    //intersection observer
    //link to - https://www.youtube.com/watch?v=T8EYosX4NOo
    
}

.saramic-nav-1{
    &__icon{
        height: 3.25rem;
        width: 3.25rem;   
        margin: 1.5rem;
        fill:bisque;
    }
}